{% extends 'basis.html' %}

{% block loginafter %}
   <div class="row-fluid" id="left">
        <div class="span6" id="picture-div">
	    <img  class="img-polaroid bigger" src="/static/images/guest4.jpeg" />
	</div>
	<div class="span6" id="name-div">
	    <h4>sscst</h4>
	    <p>一般站友</p>
	</div>
   </div>
   <hr />
   <div class="btn-group" id="left-btn">
       <button class="btn btn-primary btn-large">收信</button>
       <button class="btn btn-primary btn-large">写信</button>
   </div>
   <div class="sidebar-nav" id="email-tool">
        <ul class="nav nav-list">
	     <li><a href="#">已发送</a></li>
	     <li><a href="#">草稿箱</a></li>
	     <li><a href="#">重要邮件</a></li>
	 </ul>
    </div>
    <hr />
    <div class="left">
       <h4>公告</h4>
       <p>明天全站即将升级，敬请关注</p>
       <p>赢在中大即将开始，大家准备参赛吧</p>
       <p>期末考试各位给力啊</p>

   </div>
{% end %}


{% block advertise %}
   <h4>广告 </h4>
   <hr />
{% end %}


{% block mainblock %}
   <div class="dark row-fluid">
     <div class="span3 offset2"><h3>我的站内信</h3></div>
     <div class="btn-group span3" id="btn-operation">
         <button class="btn btn-large">删除</button>
         <button class="btn btn-large">标记</button>
         <button class="btn btn-large">刷新</button>
     </div>
   </div>
   <div class="dark message">
       <table class="table table-striped message">
         <tr>
	     <td><input type="checkbox">LTaoist</td>
	     <td>你的调研有问题啊！！！</td>
	     <td class="muted">今天13：02</td>
         </tr>
	 <tr>
	     <td><input type="checkbox">LTaoist</td>
	     <td>你的调研有问题啊！！！</td>
	     <td class="muted">今天13：02</td>
         </tr>
	 <tr>
	     <td><input type="checkbox">LTaoist</td>
	     <td>你的调研有问题啊！！！</td>
	     <td class="muted">今天13：02</td>
         </tr>
	 <tr>
	     <td><input type="checkbox">LTaoist</td>
	     <td>你的调研有问题啊！！！</td>
	     <td class="muted">今天13：02</td>
         </tr>
       </table>
       <div class="pagination offset3">
	   <ul>
	       <li><a href="#">Prev</a></li>
	       <li><a href="#">1</a></li>
	       <li><a href="#">2</a></li>
	       <li><a href="#">3</a></li>
	       <li><a href="#">4</a></li>
	       <li><a href="#">Next</a></li>
	   </ul>
       </div>
   </div>
  
{% end %}

{% block righttop %}
   <h4>您常联系的人</h4>
   <hr />
{% end %}

{% block rightbuttom %}
   <h4>精彩帖子分享</h4>
   <hr />
{% end %}