{% extends 'basis2.html' %}

{% block mainblock %}
    <div id="top-ten" class="dark">
        <div id="flock">
	      <div id="tips">
	          <span class="badge badge-info">今日十大</span>
		  <span class="badge badge-info">推荐文章</span>
	          <span class="badge badge-info">IT前沿</span>
	          <span class="badge badge-info">逸仙社团</span>
	          <span class="badge badge-info">院系风采</span>
	          <span class="badge badge-info">休闲娱乐</span>
	          <span class="badge badge-info">文化艺术</span>
	          <span class="badge badge-info">学术技术</span>
	          <span class="badge badge-info">谈天说地</span>
	          <span class="badge badge-info">信息交流</span>
	       </div>
	       <div id="passage">
		   <table class="table table-striped table-condensed">
		       <tr>
			   <td>这个傻B又是谁？</td>
			   <td>[say]</td>
			   <td>[wangyufei]</td>
			   <td><span class="badge badge-info">34</span></td>
		       </tr>
		       <tr>
			   <td>一大早来搞数据</td>
			   <td>[say]</td>
			   <td>[luoyanfei]</td>
			   <td><span class="badge badge-warning">23</span></td>
		       </tr>
		       <tr>
			   <td>T T 一个人在广州过中秋</td>
			   <td>[linux]</td>
			   <td>[sysuloverBy]</td>
			   <td><span class="badge badge-inverse">47</span></td>
		       </tr>
		       <tr>
			   <td>共产党员薄熙来淫魔真面目被揭</td>
			   <td>[news]</td>
			   <td>[jiiset]</td>
			   <td><span class="badge badge-success">89</span></td>
		       </tr>
		       	       <tr>
			   <td>这个傻B又是谁？</td>
			   <td>[say]</td>
			   <td>[sscst]</td>
			   <td><span class="badge badge-important">34</span></td>
		       </tr>
		       <tr>
			   <td>一大早来搞数据</td>
			   <td>[linux]</td>
			   <td>[TTistd]</td>
			   <td><span class="badge badge-success">67</span></td>
		       </tr>
		       <tr>
			   <td>IBM x40 500元</td>
			   <td>[PCmarket]</td>
			   <td>[cresspess]</td>
			   <td><span class="badge badge-inverse">12</span></td>
		       </tr>
		       <tr>
			   <td>04级骨灰人物飘过</td>
			   <td>[eastcamps]</td>
			   <td>[garyjiio]</td>
			   <td><span class="badge badge-important">34</span></td>
		       </tr>
		        <tr>
			   <td>这个傻B又是谁？</td>
			   <td>[water]</td>
			   <td>[inugvd]</td>
			   <td><span class="badge badge-warning">43</span></td>
		       </tr>
		       <tr>
			   <td>不是我选择了上帝，而是上帝选择了我</td>
			   <td>[love]</td>
			   <td>[supersudo]</td>
			   <td><span class="badge badge-info">109</span></td>
		       </tr>
		   </table>
	        </div>
       </div>
   </div>
   <div id="board-list" class="dark right-buttom">
       <div class="row-fluid">
	 <div class="span2" id="board-name">
	    <h4>电脑科技</h4>
	 </div>
	 <div class="span10">
	       <span>编程技巧</span>
	       <span>网络技术</span>
	       <span>软件特区</span>
	       <span>电脑游戏乐园</span>
	       <span>Visual系列</span>
	       <span>图形世界</span>
	       <span>硬件点滴</span>
	       <span>有问有答</span>
	       <span>视窗世界</span>
	       <span>大家来玩MUD</span>
	       <span>电脑病毒</span>
	       <span>Coolest Unix</span>
	       <span>网络对战</span>
	       <span>CISCO网络技术</span>
	       <span>网络资源</span>
	       <span>Java天地</span>
	       <span>程序设计竞赛</span>
	       <span>三区管理中心</span>
	       <span>新argo开发</span>
	   </div>
       </div>
       <hr />
   </div>
{% end %}

{% block righttop %}
       <div class="offset1"><h3>热门关键词</h3></div>
       <hr />
       <div class="row-fluid offset1">
            <div class="span4"><p>表白</p><p>GPA</p></div>
	    <div class="span4"><p>堵车</p><p>国庆</p></div>
	    <div class="span4"><p>毕业</p><p>寂寞</p></div>
	    <div class="offset7">更多....</div>
       </div>
{% end %}
	   
{% block rightbuttom %}
       <div class="offset1"><h3>活跃站友</h3></div>
       <hr />
       <div class="offset1">
           <div class="pic">
	        <img src="/static/images/guest1.jpeg" class="img-circle" />
	        <span class="offset1">
	           sdfgf
	           <button class="btn btn-success btn-small pull-right">+好友</button>
	        </span>
	   </div>
	   <div class="pic">
	         <img src="/static/images/guest2.jpeg" class="img-circle" />
	         <span class="offset1">
	             dfdsv
	             <button class="btn btn-success btn-small pull-right">+好友</button>
	         </span>
	   </div>
	   <div class="pic">
	         <img src="/static/images/guest4.jpeg" class="img-circle" />
	         <span class="offset1">
	             guest
	             <button class="btn btn-success btn-small pull-right">+好友</button>
	        </span>
	   </div>
	   <div class="pic">
	        <img src="/static/images/guest3.jpeg" class="img-circle" />
	        <span class="offset1">LTaoist
	             <button class="btn btn-success btn-small pull-right">+好友</button>
	        </span>
	   </div>
	   <div class="pic">
	         <img src="/static/images/guest2.jpeg" class="img-circle" />
	         <span class="offset1">
	             JJIGF
	             <button class="btn btn-success btn-small pull-right">+好友</button>
	         </span>
	   </div>
       </div>
{% end %}

{% block loginbefore %}
       <h1>加入逸仙</h1>
       <hr />
       <form  id="form-login" method="post">
           <div class="control-group">
               <label class="control-label" for="inputuser">用户名</label>
               <div class="controls">
                    <input type="text" id="inputusername" name="Username" class="span2">
               </div>
           </div>
           <div class="control-group">
               <label class="control-label" for="inputPassword">Password</label>
               <div class="controls">
                   <input type="password" id="inputPassword" name="Password" class="span2">
               </div>
           </div>
	   <button type="submit" class="btn btn-left btn-info">开始逸仙之旅</button>
       </form>
	   <button type="submit" class="btn btn-warning btn-left btn-large">新水手之门</button>
{% end %}