{% extends "base.html" %}

{% block leftsidebar %}
<div class="cell-group">
  <div id="userbox">
    <img id="userbox-img" src="static/img/gcc.jpg">
    <div id="userbox-profit">
      LTaoist
    </div>
  </div>
  <div class="dashed-seq"></div>
  <div id="favbox">
    <h4>收藏夹</h4>
    <ol class="boardset">
      <li>Say</li>
      <li>News</li>
    </ol>
  </div>
</div>
<div class="cell-group">
  <br/>
  广告
  <br/>
  1
</div>            
{% end %}

{% block main %}
<div class="cell-group">
  <ul class="cell-content nav nav-pills">
    <li class="active">
      <a href="#">十大</a>
    </li>
    <li>
      <a href="#">好文</a>
    </li>
    <li>
      <a href="#">科技</a>
    </li>
  </ul>
  <ol class="postlist-topten unstyled">
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    <li class="plt-hotpost">
      <a class="plt-title" href="#">这傻B是谁2333333333333333333333333333333333333333333</a>
      <span class="plt-meta">
        <a class="plt-board" href="#">Say</a>
        <a class="plt-owner" href="3">LTaoist</a>
        <span class="plt-time">前5分钟</span>
        <span class="plt-renum">4</span>
      </span>
    </li>
    
  </ol>
</div>
<div class="cell-group">
  <h3 class="cell-title">讨论区导航</h3>
  <ul class="cell-content boardlist">
    <li>
      <h4>推荐讨论区</h4>
      <ol class="boardset">
        <li>Say</li>
        <li>News</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
        <li>Love</li>
      </ol>
    </li>
    <li>
      <h4>BBS系统</h4>
      <ol class="boardset">
        <li>BBS_Help</li>
        <li>BugReport</li>
      </ol>
    </li>
    <li>
      <h4>电脑科技</h4>
      <ol class="boardset">
        <li>linux</li>
        <li>programming</li>
      </ol>
    </li>
  </ul>
</div>  
{% end %}

{% block rightsidebar %}
<div class="cell-group">
  <h3 class="cell-title">通知公告</h3>
  <div class="cell-content">
    <ol class="unstyled">
      <li>News1</li>
      <li>News2</li>
    </ol>
  </div>
</div>
<div class="cell-group">
  <h4 class="cell-title">推荐讨论区</h4>
  <ol class="boardset">
    <li>Say</li>
    <li>News</li>
    <li>Love</li>
  </ol>
</div>
<div class="cell-group">
  <h4 class="cell-title">新的发言者</h4>
  <div class="cell-content">
    <img src="/static/img/guest1.jpeg"/>
    <a href="#">LTaoist</a>
    回复了<a href="#">今天你吃饭了吗</a>
  </div>
</div>
{% end %}
  
