{% extends "base.html" %}

{% block main %}
<div class="cell-group">
  <div class="pull-right">
    <div class="pull-right btn-toolbar">
	  <button class="btn btn-small btn-success">写信</button>
	  <button class="btn btn-small">同主题</button>
    </div>
  </div>
  <h1 class="page-title">我的信箱</h1>
  <table class="table table-hover table-condensed" width="100%">
    <thead>
      <tr>
        <th width="auto">回复标题</th>
        <th width="20%">发信人</th>
        <th width="20%">最新回复</th>
        <th width="10%">长度</th>
      </tr>
    </thead>
    <tbody>
      {% for p in mails %}
      <tr{% if p['read'] %} class="read"{% end %}>
        <td>
          <a href="#">{{ p['title'] }}</a>
        </td>
        <td><a href="#">{{ p['fromuserid'] }}</td>
        <td>{{ p['posttime'] }}</td>
        <td>10</td>
      </tr>
      {% end %}
    </tbody>
  </table>
  <div class="pagination pagination-centered">
    <ul>
      <li><a href="#">上一页</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">下一页</a></li>
    </ul>
  </div>
</div>
{% end %}

{% block rightsidebar %}
<div class="cell-group">
  <h4 class="cell-title">经常写信的人</h4>
  <ul class="cell-content padding-l10 userset userset-small unstyled">
    <li>
      <img src="/static/img/guest2.jpeg"/>
      <a href="#">humiaozuzu</a>
    </li>
    <li>
      <img src="/static/img/guest2.jpeg"/>
      <a href="#">humiaozuzu</a>
    </li>
  </ul>
</div>

<div class="cell-group">
  <h4 class="cell-title">我的好友</h4>
  <ul class="cell-content padding-l10 userset userset-small unstyled">
    <li>
      <img src="/static/img/guest1.jpeg"/>
      <a href="#">路人甲</a>
    </li>
    <li>
      <img src="/static/img/guest3.jpeg"/>
      <a href="#">路人乙</a>
    </li>
    <li>
      <img src="/static/img/guest4.jpeg"/>
      <a href="#">路人丁</a>
    </li>
  </ul>
</div>

{% end %}

{% block leftsidebar %}
<div class="cell-group">
  <div id="userbox">
    <img id="userbox-img" src="static/img/gcc.jpg">
    <div id="userbox-profit">
      <ul class="nav">
	    <li>LTaoist</li>
	    <li>   </li>
	    <li>  </li>
      </ul>
    </div>
  </div>
  <div class="dashed-seq"></div>
  <div id="favbox">
    <h4>收藏夹</h4>
    <ol class="boardset">
      <li><a href="#">Say</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Linux</a><li>
    </ol>
  </div>
</div>
<div class="cell-group">
  <br/>
  
  <br/>
  1
</div>     
{% end %}
